<!DOCTYPE HTML>
<html lang="en" ng-app="reportsApp">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link href="assets/css/bootstrap.css" rel="stylesheet"/>
    <link href="assets/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="assets/css/angular-moment-picker.css" rel="stylesheet"/>
    <link href="assets/css/duration-picker.css" rel="stylesheet"/>
    <link href="assets/css/styles.css" rel="stylesheet"/>
    <title>Report Manager</title>
</head>
<body>
<header>
    <div class="container-fluid">
        <h1 class="text-center">Report Manager</h1>
    </div>
</header>
<div class="container-fluid" ng-controller="mainController">
    <form class="form-inline">
        <div class="form-group">
            <input type="text" format="HH:mm a" moment-picker="report.login" class="form-control input-block"
                   name="logintime" ng-model="login" placeholder="Login time"/>
            <input type="text" format="MMM Do YYYY" today="true" moment-picker="currentdate"
                   class="form-control input-block" name="date"
                   ng-model="currentdate" title="Date of report"
                   change="report.onChange()" ng-model-options="{ updateOn: 'blur' }"/>
            <input type="text" format="HH:mm a" moment-picker="report.logout" class="form-control input-block"
                   name="logout" ng-model="logout" placeholder="Logout time"/>
        </div>
        <div class="clearfix"></div>
        <table class="table table-striped table-hover">
            <thead class="table-head">
            <th class="col-xs-1">#</th>
            <th class="col-xs-2">Tickets/Tasks</th>
            <th class="col-xs-1">Time spent</th>
            <th class="col-xs-1">Time logged</th>
            <th class="col-xs-6">Remarks</th>
            <th class="col-xs-1">Actions</th>
            </thead>
            <tbody>
            <tr ng-repeat="reportdetail in report.reportdetails track by $index">
                <td>{{$index+1}}</td>
                <td><input type="text" class="form-control" name="tickets" ng-model="reportdetail.tickets"/></td>
                <td><input type="text" class="form-control duration"
                           duration-picker name="timespent"
                           ng-model="reportdetail.spent_time" /></td>
                <td><input type="text" class="form-control duration"
                           duration-picker name="timelogged"
                           ng-model="reportdetail.logged_time"/></td>
                <td><input type="text" class="form-control duration" name="remarks" ng-model="reportdetail.remarks"/></td>
                <td>
                    <button type="button" class="btn btn-default btn-info"
                            ng-show="report.reportdetails.length - 1 == $index" ng-click="add($index)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-danger"
                            ng-show="report.reportdetails.length - 1 != $index" ng-click="remove($index)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-default btn-info" ng-click="action('save')">Save</button>
        <button type="button" class="btn btn-default btn-info" ng-click="action('email')">Email</button>
    </form>
</div>
<br/>
<footer class="footer">
    <div class="container-fluid footer-div">
        <div>&copy; 2017</div>
        <div>By <a href="http://faizanakram.me">Faizan Akram!</a></div>
    </div>
</footer>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/duration-picker.js"></script>
<script src="assets/js/moment.min.js"></script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-moment-picker.min.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>


