.durationpicker-container {
    background-color: white;
    border: 1px solid darkgrey;
    display: inline-block;
    min-width:100px;
    width: 100px;
    padding: 6px 0;
}

.durationpicker-innercontainer {
    display: inline-block;
    width: 50%;
}

.durationpicker-duration {
    display: inline-block;
    border: none;
    width: 42px;
    padding-left: 10%;
    text-align: center;
}

.durationpicker-label {
    display: inline-block;
}
